* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* light Mode */
  --Darker-DarkMode: #f2f4f3;
  --Middle-DarkMode: #6b6b6b;
  --Lighter-DarkMode: #08090c;
}

/* style qui sera appliqué si le dark mode est activé */

.dark-mode {
  /* Dark Mode */
  --Darker-DarkMode: #08090c;
  --Middle-DarkMode: #6b6b6b;
  --Lighter-DarkMode: #f2f4f3;
}

/* style main dans lequel il y a 2 section: une section marque et l'autre contenant le reste des elements de la page à savoir la nav, les projets et le footer*/

.container {
  overflow: hidden;
  display: flex;
  max-width: 100vw;
  min-height: 100vh;
  color: var(--Darker-DarkMode);
}

/* style section marque et logo */
.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--Darker-DarkMode);
  min-width: 50vw;
  min-height: 100vh;
}

.brand img {
  width: 57vw;
  height: 100vh;
  transition: all 0.5s;
  transition-delay: 0.2s;
}
/* fin style section marque et logo */

/* style section information */
/* partie header */
.ADinformation {
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-height: 100vh;
  background: var(--Lighter-DarkMode);
}

.ADinformation header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 1.5vw;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ADinformation header nav ul li a {
  display: block;
  position: relative;
  padding: 5px;
  text-decoration: none;
  font-size: 1.2vw;
  text-transform: uppercase;
  font-weight: 500;
}

.ADinformation header nav ul li a ::after {
  content: "";
  position: absolute;
  background: var(--Middle-DarkMode);
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.ADinformation nav li a:hover::after {
  width: 100%;
}

.ADinformation li a.selected::after {
  background-color: var(--Darker-DarkMode);
  width: 100%;
  height: 3px;
}

/* debut du style de la partie contenant le "about" "projet" "contact" */

/* style navbar liste */

.tabs {
  text-decoration: none;
  color: var(--Darker-DarkMode);
  transition: all 0.5s;
}

.tabs:hover {
  color: var(--Middle-DarkMode);
}

/* fin partie header */
.carrosel {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
  height: 80vh;
}

.content {
  display: flex;
  width: 300vw;
  height: 80vh;
}

/* style de la partie about  */
#about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  min-width: 50vw;
  min-height: 80vh;
  transition: 0.5s;
}

.description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 70%;
  font-size: 1.3vw;
  gap: 1vw;
  line-height: 1.7;
}

.description h1 {
  font-size: 2.5vw;
  font-weight: 700;
}

.description p {
  text-align: justify;
}

.btn {
  position: relative;
  display: flex;
  margin-top: 70px;
  padding: 20px;
  font-size: 1.2vw;
  width: 22vw;
  height: 5vw;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--Darker-DarkMode);
  background: transparent;
}

.btn::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.5s;
  background: var(--Darker-DarkMode);
}
.btn:hover::before {
  width: 100%;
}

.btn a {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  text-decoration: none;
  color: var(--Darker-DarkMode);
  z-index: 1;
  transition: color 0.3s;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-weight: 550;
}

.btn:hover a {
  color: var(--Lighter-DarkMode);
}
/* fin de la partie about */

/* debut de la partie projet */
#project {
  display: flex;
  justify-content: center;
  min-width: 50vw;
  minheight: 80vh;
  flex-grow: 1;
  transition: 0.5s;
  overflow-y: auto;
}

#project ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 3vw;
  flex-wrap: wrap;
  padding: 2vw;
}
#project ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* style sur les images de projets */
.item img {
  border: 5px solid var(--Darker-DarkMode);
  padding: 0.3vw;
  width: 14vw;
}

.item p {
  font-size: 0.9vw;
  font-weight: 700;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 14vw;
  gap: 0.5vw;
}
.item:hover::after {
  width: 100%;
}

.item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 0;
  height: 9.5vw;
  background-color: var(--Darker-DarkMode);
  opacity: 0.58;
  transition: 500ms;
  pointer-events: none;
}
/* fin partie projet */

/* debut de la partie contact */
#contact {
  display: flex;
  min-width: 50vw;
  min-height: 80vh;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  transition: 500ms;
  align-items: center;
  gap: 30px;
}
#contact p {
  text-align: center;
  font-size: 1.7vw;
}
/* fin de la partie contact  */

/* debut de la partie footer */
.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  padding: 1vw;
}

/* style pour le placement des icones de langue et de mode( light/dark) dans le footer */

.icon-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode {
  right: 5%;
}

.lang {
  left: 5%;
}

#iconMode {
  width: 2vw;
  cursor: pointer;
  transition: all 0.5s;
}

#iconLang {
  font-size: 1.5vw;
  cursor: pointer;
  transition: all 0.5s;
}
/* fin style icones de langue et de mode */

.footer a {
  fill: var(--Darker-DarkMode);
}
